<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088837947928-fla632df33jvvee426ltphd0hamlcc69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088837947928-fla632df33jvvee426ltphd0hamlcc69</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1088837947928-574b4f775abe5mnk147q0117qf3v2qce.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjdGnrgOy7NlM2K-AqjW3_C77JW2veC6s</string>
	<key>GCM_SENDER_ID</key>
	<string>1088837947928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tdem.stmconnectent</string>
	<key>PROJECT_ID</key>
	<string>stm-connect-81b4d</string>
	<key>STORAGE_BUCKET</key>
	<string>stm-connect-81b4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088837947928:ios:7b6ba82be169738c</string>
	<key>DATABASE_URL</key>
	<string>https://stm-connect-81b4d.firebaseio.com</string>
</dict>
</plist>